.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  height: 100vh;
  
}
.middle-contianer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  border: 2px solid black;
  height: 100px;
  width: 250px;
  padding: 10px;
}

.input-value{
  height: 25px;

}
.heading{
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
}
.para{
  font-size: 35px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}